<p style="color: green"><%= notice %></p>

<h1><%= @page_title %></h1>

<%= render @user %>

<h2>ログ一覧</h2>
<hr>
<% @posts.each do |post| %>
  <h3>タイトル：<%= post.title %></h3>
  <p>コメント：<%= post.comment %></p>
  <hr>
<% end %>

<% if (session[:user_id] == @user.id) %>
  <div>
    <%= link_to "ユーザー編集", edit_user_path(@user) %> |
    <%= button_to "ユーザー削除", user_path(@user), method: :delete, data: { turbo: false } %>
  </div>
<% end %>
