<p style="color: green"><%= notice %></p>

<h1><%= @page_title %></h1>

<%= render @post %>

<% if(session[:user_id] == @post[:user_id]) %>
  <div>
    <%= link_to "ログ編集", edit_post_path(@post) %> |
    <%= button_to "ログ削除", post_path(@post), method: :delete, data: { turbo: false } %>
  </div>
<% end %>
