<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>アニメログ</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
<body>
  <header>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand mb-0 h1" href="/">アニメログ</a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <%= link_to "ログ一覧", posts_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログ登録", new_post_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ユーザー登録</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ログイン</a>
        </li>


      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
</body>
</html>
